:host {
  --bg-color: rgba(233, 233, 233, 0.233);
  --bg-color-item: rgb(0, 0, 0);
  --bg-color-hover: var(--primary-color);
  --color: #838383;
  --color-hover: white;
  --color-selected: var(--primary-color);
  --item-width: 80%;
  --item-height: 2.5em;
  --margin-top-items: 10px;
  --padding-top: 10vh;
  --position: fixed;
  --primary-color: rgb(29, 202, 255);
  --rotation-3d: 10deg;
  --shadow-x: 1.5em;
  --shadow-y: 1em;
  --sidebar-width: 15em;
  --sidebar-min-height: 100vh;
  --z-index: 1;
}

ul {
  background-color: var(--bg-color);
  padding-top: var(--padding-top);
  position: var(--position);
  box-shadow: 0px 8px 8px rgba(128, 128, 128, 0.322);
  margin: 0;
  min-height: var(--sidebar-min-height);
  padding: 0;
  padding-top: var(--padding-top);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  width: var(--sidebar-width);
  list-style: none;
}

li {
  padding-top: 10px;
  padding: 0px 5px;
  background: var(--bg-color-item);
  box-shadow: 0px 8px 8px rgba(128, 128, 128, 0.322);
  color: var(--color);
  text-align: center;
  height: var(--item-height);
  width: var(--item-width);
  line-height: var(--item-height);
  margin-top: var(--margin-top-items);
  font-size: 0.9em;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  box-shadow: var(--shadow-x) var(--shadow-y) 0 #e1e1e150;
  transition: all .20s linear;
  cursor: pointer;
  user-select: none;

  &:hover {
    background: var(--bg-color-hover);
    color: var(--color-hover);
    transform: translate(.9em, 0em);
    transition: all .25s linear;
    box-shadow: -1.5em 1em 0 #e1e1e150;
  }
}

.effect3dul {
  perspective: 700px;
}

.effect3dli {
  transform: rotateY(var(--rotation-3d));
}

svg {
  margin: 10px 10px;
}

.selected {
  color: var(--color-selected);
  transform: translate(.9em, -.19em);
}

.selected:hover {
  color: var(--color-hover);
}

// Animations

.loop {
  background: var(--bg-color-hover);
  color: var(--color-hover);
  transform: translate(.9em, -.9em);
  transition: all .25s linear;
  box-shadow: -2em 2em 0 #e1e1e1;
  animation: turner .4s infinite linear;
}

@keyframes turner{
    from{  transform: rotateY(0deg)   }
    to  {  transform: rotateY(360deg) }
}